# NOTICE:
# Vue app will only detect VUE_APP_* envs

# Django
DEBUG=True
SECRET_KEY=CHANGEME!!!

DOMAIN=http://localhost:8003
ALLOWED_HOSTS=*

# Email settings, defaults to 1025 and mailhog
#EMAIL_PORT=25
#EMAIL_HOST=localhost

# MySQL
MYSQL_DATABASE=db_django
MYSQL_USER=root
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password
MYSQL_HOST=db

# Sentry
SENTRY_DSN=
SENTRY_PUBLIC_DSN=
VUE_APP_SENTRY_PUBLIC_DSN=

# Google Analytics
VUE_APP_GOOGLE_ANALYTICS=UA-XXXXXXXXX-X

# Yandex Metrika
VUE_APP_YANDEX_METRIKA=

VUE_APP_GRAPHQL_HTTP=http://localhost:8003/api/graphql

SENDGRID_API_KEY=