autopep8
django
django-environ
django-extensions
djangorestframework
psycopg2-binary
secretary
ezodf
odfpy
lxml
# django-appypod
# django-webodt
# django-template-engines
# Pillow
# django-template-engines