autopep8
django
django-environ
django-extensions
djangorestframework
# psycopg2-binary
mysqlclient
django-mysql
# secretary
# ezodf
# odfpy
# lxml
django-admin-interface
Pillow
dj-rest-auth[with_social]
djangorestframework-simplejwt
markdown
graphene-django
graphene-file-upload
transliterate
django-cleanup
graphene-django-optimizer