autopep8
django
django-environ
django-extensions
djangorestframework
psycopg2-binary
secretary
ezodf
odfpy
lxml
# django-appypod
# django-webodt
# django-template-engines
# Pillow
# django-template-engines
markdown2>=2.4.1 # not directly required, pinned by Snyk to avoid a vulnerability